* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  background-color: #2b2922;
  color: #ffffff;
}
.container {
  /* border: 2px solid palevioletred; */
  width: 100vw;
  height: 100vh;
}
.navbar {
  width: 100vw;
  height: 20vh;
  /* border: 2px solid blueviolet; */
}
.navbar .logo {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 50px;
  width: 10%;
  /* border: 2px solid greenyellow; */
}
div .list {
  display: block;
  /* width: 50%; */
  width: 46%;
  margin: 20px 261px;
  /* margin: 20px auto; */
  /* border: 2px solid #000; */
}
div .list li {
  display: inline-block;
  list-style: none;
  font-size: 10px;
  padding: 2px 10px;
  font-family: "RedRose", sans-serif;
}
div .list li:hover {
  color: #eff54d;
  border: 2px solid #eff54d;
  font-weight: 500;
  border-radius: 5px;
  transition: width 0.5s;
  /* border-color: #1e1c12; */
}

.navbar .button-small {
  display: inline-block;
  position: absolute;
  width: 12%;
  top: 24px;
  right: 55px;
  /* border: 2px solid rgb(20, 13, 228); */
}
.navbar .button-small {
  color: yellow;
  background-color: #2b2922;
  font-size: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 2px solid yellow;
  border-radius: 3px;
}
.navbar .button-small:hover {
  background-color: maroon;
  color: #fff;
  border: none;
}
/* .logo {
  width: 100px;
 margin-right: 350px;
} */

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero {
  /* border: 2px solid darkred; */
  width: 100vw;
  height: 80vh;
}
.hero .hero-heading {
  display: inline-block;
  position: absolute;
  width: 330px;
  font-size: 40px;
  top: 60px;
  left: 50px;
  font-family: "RedRose", sans-serif;
  font-weight: 700;
  color: #ffffff;
  /* line-height: 72px; */
  /* border: 2px solid green; */
}
.hero .hero-body {
  display: inline-block;
  position: absolute;
  width: 188px;
  top: 90x;
  right: 60px;
  font-size: 9px;
  font-family: "RedRose", sans-serif;
  font-weight: 400;
  /* align-items: center; */
  /* border: 2px solid maroon; */
}
.hero .bottom-image {
  display: inline-block;
  position: absolute;
  top: 170px;
  height: 43vh;
  width: 100vw;

  /* border: 2px solid magenta; */
}
.hero .bottom-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 159px;

  /* width: 100vw; */
  /* height: 130vh; */
}
.hero .footer {
  display: inline-block;
  position: absolute;
  width: 85px;
  height: 45px;
  right: 0px;
  bottom: -8px;
  /* border: 2px solid rgb(10, 174, 238); */
}
.hero .footer .previous-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #1e1c12;
  /* position: absolute; */
  /* border: 2px solid rgb(237, 101, 11); */
}
.hero .footer .next-button {
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  background-color: rgb(178, 178, 9);
  /* border: 1px solid white; */
  /* border-radius: 50%; */
  /* border: 2px solid rgb(164, 5, 5); */
}
.hero .footer .previous-button,
.hero .footer .next-button {
  padding: 10px 10px;
}
.hero .footer .previous-button .bottom-button-01 {
  background-color: transparent;
  color: #a08f36;
  border: 1px solid;
  margin: 0px 0px;
  transition: 0.3s;
  border-radius: 50%;
  padding: 2px 5px;
}

.hero .footer .next-button .bottom-button-02 {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: 0.3s;
  padding: 2px 5px;
  border-radius: 50%;
}

.hero .footer .previous-button .bottom-button-01:hover {
  color: #ffffff;
}

.hero .footer .next-button .bottom-button-02:hover {
  color: #535147;
  border-color: #535147;
}
.hero .footer .previous-button:hover {
  background-color: black;
}
.hero .footer .next-button:hover {
  background-color: rgb(136, 84, 84);
}
